<h1>Tiny URL Project</h1>
<% if (userObject) { %>
  <h3>Welcome <%= userObject.email%>!</h3>
<% }; %>


<% if (!userObject) { %>
  <form action="http://localhost:8080/register/">
      <input type="submit" value="Register" />
  </form>
  <form action="http://localhost:8080/login/">
      <input type="submit" value="Login" />
  </form>
<% } else { %>
  <form action="/logout" method="POST">
      <input type="submit" value="logout">
  </form>
<% }; %>


