<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny URL</title>
  </head>

  <body style="font-size:20px; padding:50px;">
  <h1>Login</h1>
  <table>
    <% if (!userObject){ %>
    <tr><td>
    <form action="/login" method="POST" style="margin:150px;">
      <div>
        <label style="display: inline-block;">Email:</label>
        <input style="display: inline-block;" type="text" name="email" placeholder="example@domain.com" style="width: 300px">
        <label style="display: inline-block;">Password:</label>
        <input style="display: inline-block;" type="password" name="password" placeholder="******" style="width: 3 00px">
        <input style="display: inline-block;" type="submit" value="Login">
      </div>
    </form>
    </td></tr>
    <% } else{ %>
    <tr><td>
      <%= userObject.email %>
    </td></tr>
    <tr><td>
      <form action="/logout" method="POST">
        <input type="submit" value="logout">
      </form>
    </td></tr>
    <% } %>
  </table>



  </body>
</html>