<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% for (let keyURL in urls) { %>
     <li><%= keyURL + ": " + urls[keyURL] %></li>
       <% }; %>


  <a href=""> Shorten URL </a>
</body>
</html>